$hey-look-at-me-im-a-sass-variable: #333;

.header {
  color: $hey-look-at-me-im-a-sass-variable;
  font-family: sans-serif;
}

.placeholder {
  font-style: italic;
}

.show-card, .hide-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide-card{
	display:none;
}

.show-card{
	display:block;
}

.pre-game, .welcome{
 text-align:center;
 padding:10px;
}

.welcome{
 font-size:20px;
}

.grid-container 	{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #f5f5f5;
  padding: 10px;
  margin:10px auto;
  max-width:700px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  height:70px;
  text-align: center;
  position:relative;
  border-radius:10%;
  margin:10px;
  cursor:pointer;
  box-shadow: 1px 2px 8px #888888;
 }
 
.grid-item-hide{
   @extend .grid-item;
   background-color: #003366;
   background: rgb(2,0,36);
   background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
 }
 
.grid-item-show{
	@extend .grid-item;
	border:1px solid #ccc;
	background-color: #fff;

}
